@media (max-width: 575px) {
  .purple-arrow {
    width: 45px;
    margin-top: -9px;
  }
}



@media (min-width: 991px) {
  .web-padding {
    padding-right: 10rem !important;
    padding-left: 6rem !important;
  }
}
@media (max-width: 1399px) {
  .cards-wrap {
    width: 95%;
    max-width: 540px;
  }

  .cards-grid {
    grid-template-columns: 250px 280px;
    column-gap: 20px;
  }

  .curly-decoration {
    bottom: 100px;
    left: 155px;
    width: 48px;
  }
}

@media (max-width: 1199px) {
  .hero-title {
    font-size: 35px;
  }
  .cards-wrap {
    width: 95%;
    max-width: 500px;
    transform: scale(0.65);
  }
  .mb-lgs {
    margin-top: -159px;
  }

  .cards-grid {
    grid-template-columns: 230px 260px;
    column-gap: 18px;
  }

  .card-teal {
    width: 310px;
    padding: 24px 50px 32px 28px;
    min-height: 250px;
  }

  .card-blue {
    width: 220px;
    padding: 26px 35px 22px 20px;
    top: 120px;
    min-height: 180px;
  }

  .card-black {
    width: 260px;
    padding: 24px 40px 28px 28px;
    height: 320px;
    min-height: 220px;
  }

  .curly-decoration {
    bottom: 95px;
    left: 143px;
    width: 44px;
  }

  .chip-yellow {
    width: 55px;
    left: 180px;
    top: 125px;
  }

  .chip-purple {
    width: 42px;
    right: -190px;
    top: 428px;
  }
}

@media (max-width: 991px) {
  .hero-title .highlight::after {
    height: 6px;
  }
  .hero-section {
    padding: 207px 0 60px 0;
  }

  .title-line {
    gap: 5px;
  }

  .play-icon::before {
    width: 14px;
    height: 16px;
  }

  .mb-lgs {
    margin-left: 19px;
    margin-right: 19px;
  }

  .hero-title {
    font-size: 2.5rem;
  }

  .hero-text {
    width: 100%;
    max-width: 100%;
  }

  .cards-wrap {
    width: 95%;
    max-width: 504px;
    margin: 50px auto 0;
    transform-origin: top;
  }

  .cards-grid {
    grid-template-columns: 210px 240px;
    column-gap: 16px;
    row-gap: 20px;
  }

  .card-teal {
    width: 298px;
    padding: 22px 45px 30px 26px;
    min-height: 240px;
  }

  .card-blue {
    width: 249px;
    padding: 24px 32px 20px 18px;
    top: 110px;
    min-height: 170px;
  }

  .card-black {
    width: 240px;
    padding: 22px 38px 26px 26px;
    height: 317px;
    min-height: 210px;
  }

  .curly-decoration {
    bottom: 134px;
    left: 130px;
    width: 40px;
  }

  .chip-yellow {
    width: 50px;
    left: 162px;
    top: 180px;
  }

  .chip-purple {
    width: 44px;
    right: -21px;
    top: 421px;
  }
}

@media (max-width: 767px) {
  .pricing-section {
    padding-top: 5rem !important;
    padding-bottom: 5rem !important;
  }

  .mb-lgs {
    margin-top: -151px;
    margin-left: 3px;
    margin-right: -1px;
    margin-bottom: 17px;
  }

  .hero-title {
    font-size: 2rem;
  }

  .hero-text {
    margin: 0 auto 25px;
    max-width: 100%;
  }

  .discover-btn {
    display: flex;
    justify-content: center;
  }

  .cards-wrap {
    width: 90%;
    max-width: 442px;
    margin: 17px auto 0;
    transform-origin: top;
    transform: scale(1);
  }

  .cards-grid {
    grid-template-columns: 42% 52%;
    column-gap: 12px;
    row-gap: 18px;
    justify-content: center;
  }

  .card-teal {
    width: 100%;
    max-width: 240px;
    padding: 20px 38px 26px 22px;
    min-height: 220px;
  }

  .card-blue {
    width: 100%;
    max-width: 170px;
    padding: 22px 28px 18px 16px;
    top: 100px;
    min-height: 160px;
  }

  .card-black {
    width: 100%;
    max-width: 200px;
    padding: 20px 32px 22px 22px;
    height: 250px;
    min-height: 195px;
  }

  .feature-icon {
    width: 46px;
    margin-bottom: 16px;
    margin-top: 10px;
  }

  .feature-title {
    font-size: 0.96rem;
  }

  .feature-text {
    font-size: 10px;
    line-height: 1.4;
  }

  .curly-decoration {
    bottom: 90px;
    left: 31%;
    width: 36px;
  }

  .chip-yellow {
    width: 45px;
    left: 34%;
    top: 91px;
  }

  .chip-purple {
    width: 23px;
    right: 1%;
    top: 278px;
  }
}

@media (max-width: 575px) {
 
  .hero-title {
    font-size: 1.7rem;
  }

  .hero-text {
    font-size: 0.92rem;
  }

  .cards-wrap {
    width: 92%;
    max-width: 350px;
  }

  .cards-grid {
    grid-template-columns: 46% 65%;
    column-gap: 10px;
    row-gap: 16px;
  }

  .card-teal {
    width: 100%;
    max-width: 216px;
    padding: 18px 32px 24px 20px;
    min-height: 200px;
  }

  .card-blue {
    width: 100%;
    max-width: 166px;
    padding: 20px 24px 16px 14px;
    top: 85px;
    min-height: 150px;
  }

  .card-black {
    width: 100%;
    max-width: 180px;
    padding: 18px 26px 20px 20px;
    height: 230px;
    min-height: 185px;
  }

  .feature-icon {
    width: 40px;
    margin-bottom: 14px;
    margin-top: 8px;
  }

  .feature-title {
    font-size: 0.9rem;
    margin-bottom: 8px;
  }

  .curly-decoration {
    bottom: 92px;
    left: 25%;
    width: 30px;
  }

  .chip-yellow {
    width: 38px;
    left: 28%;
    top: 78px;
  }

  .chip-purple {
    width: 28px;
    right: -3%;
    top: 258px;
  }
}

@media (max-width: 479px) {
 
  .hero-title {
    font-size: 1.5rem;
  }

  .hero-text {
    font-size: 0.88rem;
  }

  .cards-wrap {
    width: 94%;
    max-width: 300px;
  }

  .cards-grid {
    grid-template-columns: 46% 62%;
    column-gap: 8px;
    row-gap: 14px;
  }

  .card-teal {
    width: 100%;
    max-width: 185px;
    padding: 16px 26px 22px 18px;
    min-height: 185px;
  }

  .card-blue {
    width: 100%;
    max-width: 138px;
    padding: 18px 20px 14px 12px;
    top: 72px;
    min-height: 145px;
  }

  .card-black {
    width: 100%;
    max-width: 159px;
    padding: 16px 22px 18px 18px;
    height: 215px;
    min-height: 175px;
  }

  .feature-icon {
    width: 36px;
    margin-bottom: 12px;
    margin-top: 6px;
  }

  .feature-title {
    font-size: 0.86rem;
    margin-bottom: 7px;
  }

  .play-icon {
    width: 40px;
    height: 40px;
  }

  .curly-decoration {
    bottom: 104px;
    left: 25%;
    width: 26px;
  }

  .chip-yellow {
    width: 32px;
    left: 30%;
    top: 87px;
  }

  .chip-purple {
    width: 19px;
    right: -5%;
    top: 270px;
  }
}

@media (max-width: 374px) {
  .cards-wrap {
    width: 96%;
    max-width: 270px;
  }

  .cards-grid {
    grid-template-columns: 51% 68%;
    column-gap: 6px;
    row-gap: 12px;
  }

  .card-teal {
    width: 100%;
    max-width: 165px;
    padding: 14px 22px 20px 16px;
    min-height: 175px;
  }

  .card-blue {
    width: 100%;
    max-width: 123px;
    padding: 16px 16px 19px 14px;
    top: 65px;
    min-height: 138px;
  }

  .card-black {
    width: 100%;
    max-width: 143px;
    padding: 14px 18px 16px 16px;
    height: 230px;
    min-height: 168px;
  }

  .feature-icon {
    width: 32px;
    margin-bottom: 10px;
    margin-top: 5px;
  }

  .feature-title {
    font-size: 0.8rem;
  }

  .curly-decoration {
    bottom: 132px;
    left: 26%;
    width: 22px;
  }

  .chip-yellow {
    width: 28px;
    left: 30%;
    top: 68px;
  }

  .chip-purple {
    width: 20px;
    right: -4%;
    top: 255px;
  }
}



@media (max-width: 991px) {
  .ticket {
    left: 4px !important;
  }
  .pricing-title {
    font-size: 2.2rem;
    text-align: center;
  }
.highlight-text::after {
 
    bottom: -4px;
}
  .pricing-text {
    text-align: center;
    margin: 0 auto 20px;
  }

  .certificate-box {
    justify-content: center;
  }

  .price-card {
    margin-top: 30px;
  }

  .left-dots {
    bottom: -20px;
    left: -5%;
    /* width: 260px; */
  }

  .right-dots {
    bottom: -20px;
    right: -5%;
    /* width: 280px; */
  }
}





@media (max-width: 575px) {
  .pricing-title {
    font-size: 1.8rem;
  }

  .pricing-text {
    font-size: 0.9rem;
  }

  .price-card {
    width: 220px;
    padding: 40px 30px;
  }

  .price-value {
    font-size: 2rem;
  }

  .left-dots {
    /* width: 180px; */
    bottom: -10px;
  }

  .right-dots {
    /* width: 200px; */
    bottom: -10px;
  }
}

/* (large desktops, 1200px and up-110%) */
@media (min-width: 1200px) and (max-width: 1299px) {
  .mb-lgs {
    margin-bottom: 154px !important;
  }
  .hero-title,.pricing-title {
    font-size: 33px;
  }

  .play-icon::before {
    width: 17px;
    height: 17px;
  }

  .play-icon {
    width: 50px;
    height: 50px;
  }

  .hero-text {
    font-size: 14px;
    margin-bottom: 25px;
  }
  .cards-wrap {
    transform: scale(0.65);
  }
  .chip-purple {
    right: -208px;
  }
  .chip-yellow {
    left: 186px;
  }
  .web-padding {
    padding-right: 12rem !important;
    padding-left: 6rem !important;
  }
}

/*  (large desktops, 1200px and up-100%) */
@media (min-width: 1300px) and (max-width: 1399px) {
  .mb-lgs {
    margin-bottom: 93px !important;
  }

  .hero-title,.pricing-title {
    font-size: 37px;
  }

  .cards-wrap {
    transform: scale(0.75);
  }
  .chip-purple {
    right: -133px;
  }
  .chip-yellow {
    left: 186px;
  }
}

/*  (larger desktops, 1400px and up 90%) */
@media (min-width: 1400px) and (max-width: 1599.98px) {
  .mb-lgs {
    margin-bottom: 31px !important;
  }
}

/*  (very large desktops, 1600px and up 80%) */
@media (min-width: 1600px) and (max-width: 1799.98px) {
  .mb-lgs {
    margin-bottom: 31px !important;
  }
}

/*  (huge desktops, 1800px and up 75%) */
@media (min-width: 1800px) and (max-width: 1999.98px) {
  .mb-lgs {
    margin-bottom: 31px !important;
  }
}

@media (min-width: 2000px) {
}


@media (max-width: 1050px) and (min-width: 1021px) {
  .chip-purple {
    width: 42px;
    right: -208px;
    top: 428px;
  }
}

@media (max-width: 1020px) and (min-width: 1001px) {
  .chip-purple {
    width: 42px;
    right: -218px;
    top: 428px;
  }
}

@media (max-width: 1000px) and (min-width: 992px) {
  .chip-purple {
    width: 42px;
    right: -220px;
    top: 428px;
  }
}